<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw Crud...</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
        <h1>Aw Crud...</h1>
        
        <form method="post" th:action="@{/crud/create-test-users}">
            <button type="submit">Create Test Users</button>
        </form>
        
        <form method="post" th:action="@{/create}">
            <button type="submit">Create</button>
        </form>
        <form method="post" th:action="@{/read}">
            <button type="submit">Read</button>
        </form>
        <form method="post" th:action="@{/update}">
            <button type="submit">Update</button>
        </form>
        <form method="post" th:action="@{/delete}">
            <button type="submit">Delete</button>
        </form>
    </body>
</html>