<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw CRUD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div id="content">
            <div id="header" class="container">
                <h1>Aw CRUD...</h1>
                <form method="post" th:action="@{/auth/logout}" id="logout-form">
                    <button type="submit">Logout</button>
                </form>
            </div>
            
            <div id="user-display" class="container"> <!-- User displays here -->
                <div>Username: <div th:text="${currentUser.userName}"></div></div>
                <div>Aw CRUD Counter: <div th:text="${currentUser.awCrudsPerformed}"></div></div>
            </div>
            <form method="post" th:action="@{/crud/create}" class="container">
                <label for="username">Username: <input type="text" name="username" id="username" required></label>
                <label for="password">Password: <input type="text" name="password" id="password" required></label>
                <button type="submit">Create</button>
            </form>
            <form method="post" th:action="@{/crud/read}" class="container">
                <label for="arguments">Arguments: <input type="text" name="arguments" id="arguments" required></label>
                <button type="submit">Read</button>
            </form>
            <form method="post" th:action="@{/crud/update}" class="container">
                <button type="submit">Update</button>
            </form>
            <form method="post" th:action="@{/crud/delete}" class="container">
                <button type="submit">Delete</button>
            </form>
            <form method="post" th:action="@{/crud/create-test-users}" class="container">
                <button type="submit">DEBUG: Create Test Users</button>
            </form>
        </div>
    </body>
</html>