<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw CRUD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/css-reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/wheel.css}">
    </head>
    <body 
    th:with="currentUser_name=${session.currentUser_name}, 
             currentUser_pageState=${session.currentUser_pageState}">
        <div id="content" 
        th:if="${currentUser_userProjection != null and currentUser_userProjection.isDeleted != null}">
        
            <div id="header" class="container">
                <h1>Aw CRUD...</h1>

                <div th:switch="${currentUser_userProjection.isDeleted}">
                    <div th:case="true">
                        Goodbye, <span class="color-crimson" th:text="${currentUser_userProjection?.userName}"></span>...
                    </div>
                    <div th:case="false">
                        Hello, <span th:text="${currentUser_userProjection?.userName}"></span>!
                    </div>
                </div>

                <form method="post" th:action="@{/auth/logout}" id="logout-form">
                    <button type="submit">Logout</button>
                </form>
            </div>
            
            <div th:replace="~{fragments/crudMain :: crud-main}"> </div>

        </div>
        <script th:src="@{/js/wheel.js}"></script>
    </body>
</html>