<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw CRUD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div id="content">
            <header class="container">
                <h1>Aw CRUD...</h1>
            </header>
            <main class="flex-column">
                <h3 th:if="${param.logout}" class="container flex-column flex-align-center" style="color: var(--primary-color)">
                    You have been logged out.
                </h3>
                <div class="container flex-column flex-align-center">
                    <form th:action="@{/auth/login}" method="get">
                        <button type="submit">Login</button>
                    </form>

                    <form th:action="@{/auth/register}" method="get">
                        <button type="submit">Register</button>
                    </form>
                </div>
            </main>
        </div>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>