<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw CRUD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div id="content">
            <div id="header" class="container">
                <h1>Aw CRUD...</h1>
            </div>
            <div id="main" class="container">
                <div>
                    <div>Please log in <a th:href="@{/auth/login}">here</a></div>
                    <div>Or register <a th:href="@{/auth/register}">here</a></div>
                </div>
            </div>
        </div>
    </body>
</html>