<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw Crud...</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
        <form action="" method="get" class="login-form">
            <div class="login-username-div">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required />
            </div>
            <div class="login-password-div">
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" required />
            </div>
            <div class="login-submit">
                <input type="submit" value="Login" />
            </div>
        
        </form>
    </body>
</html>