<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw CRUD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div id="content">
            <div id="header" class="container">
                <h1>Aw CRUD...</h1>
            </div>
            <div class="container">
                <h2>Login</h2>
                <div th:if="${param.error}" style="color: rgb(255, 0, 119);">
                    Invalid username and/or password!
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form method="post" th:action="@{/auth/login}">
                    <div><label for="username">Username: <input type="text" name="username" id="username" autocomplete="username" required/></label></div>
                    <div><label for="password">Password: <input type="password" name="password" id="password" autocomplete="current-password" required/></label></div>
                    <div><input type="submit" value="Login"/></div>
                </form>
            </div>
        </div>
    </body>
</html>