<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw CRUD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div id="content">
            <div id="header" class="container">
                <h1>Aw CRUD...</h1>
            </div>
            <div id="main" class="container">
                <h2>Register</h2>
                
                <form method="post" th:action="@{/auth/register}">
                    <div><label for="username">Username: <input type="text" name="username" id="username" autocomplete="username" required/></label></div>
                    <div><label for="password">Password: <input type="password" name="password" id="password" autocomplete="new-password" required/></label></div>
                    <div><input type="submit" value="Register"/></div>
                </form>

                <h2 th:if="${param.error}" class="color-crimson">
                    User already exists!
                </h2>
            </div>
        </div>
    </body>
</html>