<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Aw CRUD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/css-reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div id="content">
            <header class="container">
                <section>
                    <form class="left" th:action="@{/home}" method="get"><button type="submit">Home</button></form>
                </section>
                <section>
                    <h1 class="center">Aw CRUD...</h1>
                </section>
                <section></section>
            </header>
            <main class="flex-column">
                <div class="container flex-column flex-align-center">
                    <h2>Register</h2>
                    
                    <form class="flex-column flex-align-center" method="post" th:action="@{/auth/register}">
                        <label for="username">Username: <input type="text" name="username" id="username" autocomplete="username" required minlength="3" maxlength="32" pattern="^[\w]{3,32}$"/></label>
                        <label for="password">Password: <input type="password" name="password" id="password" autocomplete="new-password" required minlength="8" maxlength="128" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*])[A-Za-z0-9#?!@$%^&*]{8,128}$"/></label>
                        <div class="italic">Password requires: 
                            <br>At least one uppercase letter, 
                            <br>At least one lowercase letter, 
                            <br>At least one digit, 
                            <br>At least one of these characters: <span class="bold">#?!@$%^&*</span>
                        </div>
                        <h3 th:if="${param.error != null}" class="error">
                            Problem during registration.
                        </h3>
                        <input type="submit" value="Register"/>
                    </form>
                </div>
            </main>
        </div>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
