<div th:fragment="crud-main" class="main container" 
th:if="${currentUser_userProjection}" 
th:switch="${currentUser_userProjection.isDeleted}">
    <div th:case="true" th:replace="~{fragments/userGravestone :: user-gravestone(${currentUser_userProjection})}"></div>
    <div th:case="false">
        <div th:if="${currentUser_userProjection}" id="user-display" 
        th:insert="~{fragments/userDisplay :: user-display(${currentUser_userProjection})}"></div>

        <div th:replace="~{fragments/userWheel :: user-wheel(${wheel_participants}, ${wheel_winner})}"></div>

        <form 
        th:if="${requestPage_userProjections != null}" method="post" 
        th:action="@{/crud/spinWheel}" class="container" id="spin-wheel-form">
            <button type="submit">Spin</button>
        </form>

        <form th:if="${currentUser_pageState != null}" method="post" 
        th:action="@{/crud/requestPage}" class="container" id="request-page-form">
            <label for="pageNumber">Page: <input type="number" name="pageNumber" id="pageNumber" 
                th:value="${currentUser_pageState.page}" required></label>
            <label for="pageSize">Size: <input type="number" name="pageSize" id="pageSize" 
                th:value="${currentUser_pageState.size}" required></label>
            <button type="submit">Request Page</button>
        </form>

        <div th:if="${requestPage_userProjections != null}" id="user-table" 
        th:insert="~{fragments/userTable :: user-table(${requestPage_userProjections})}"></div>

        <form method="post" th:action="@{/crud/create}" class="container">
            <label for="username">Username: <input type="text" name="username" id="username" required></label>
            <label for="password">Password: <input type="text" name="password" id="password" required></label>
            <button type="submit">Create</button>
            <div th:switch="${param.registerUser != null ? param.registerUser[0] : ''}">
                <div th:case="'true'" style="color: rgb(0, 157, 255);">User registration succeeded for: 
                    <span th:text="${param.registerUserUsername}"></span></div>
                <div th:case="'false'" style="color: rgb(255, 0, 0);">User registration failed for: 
                    <span th:text="${param.registerUserUsername}"></span></div>
            </div>
        </form>

        <div class="container" style="display: flex; flex-direction: column; gap: 10px;">
            <form method="post" th:action="@{/crud/create-test-users}" >
                <button type="submit">DEBUG: Create Test Users</button>
            </form>

            <form method="post" th:action="@{/crud/delete-test-users}">
                <button type="submit" 
                onclick="return confirm('Are you sure you want to delete all test users?')">DEBUG: Delete Test Users</button>
            </form>

            <form method="post" th:action="@{/crud/delete-all-users}">
                <button type="submit" 
                onclick="return confirm('Are you sure you want to delete ALL users? This cannot be undone!')">DEBUG: Delete ALL Users</button>
            </form>
        </div>
    </div>
</div>
