<div th:fragment="user-table(page)" th:if="${page}" id="user-table" class="container flex-column flex-align-center">
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Aw CRUDs Performed</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${page?.content}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.awCrudsPerformed}"></td>
            </tr>
        </tbody>
    </table>
</div>