<div th:fragment="user-display(user)" th:if="${user}"
id="user-display" class="container flex-column flex-align-center">
    <h2>Current User</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Aw CRUDs Performed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.awCrudsPerformed}"></td>
            </tr>
        </tbody>
    </table>
</div>