.user-wheel-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.wheel-and-needle {
    position: relative;
    width: 100%;
}

.user-wheel {
    position: absolute;
    all: unset;
    aspect-ratio: 1 / 1;
    container-type: inline-size;
    direction: ltr;
    display: grid;
    place-content: center start;
    clip-path: inset(0 0 0 0 round 50%);
}

.needle {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 20px;
}

.needle * {
    width: 100%;
}

.user-wheel li {
    align-content: center;
    display: grid;
    color: black;
    grid-area: 1 / -1;
    list-style: none;
    transform-origin: center right;
    width: round(50cqi, 1px);
    max-height: calc(2 * 3.1416 * 50% / var(--items));
    aspect-ratio: 1/calc(2*tan(180deg/var(--_items)));

    rotate: calc(360deg / var(--_items) * calc(var(--_idx)));
    background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
}

.user-wheel li span {
    display: grid;
    
    width: 100%;
    height: 100%;

    transform-origin: center;

    place-items: center left;
    box-sizing: border-box;
    white-space: nowrap;

    /* Dynamic font sizing based on number of items */
    /* For 1-20 items: 50%, decreases to ~8% for 100 items */
    font-size: calc(75% * max(0.1, min(1, 20 / var(--_items))));

    padding-top: 2px;
    padding-bottom: 2px;
}

.user-wheel li:not(.flip) span {
    place-items: center left;
    padding-left: 1rem;
}

.user-wheel li.flip span {
    transform: rotate(180deg);
    place-items: center right;
    padding-right: 1rem;
}

.user-wheel[data-items="1"] li {
  aspect-ratio: 1 / 1;
  display: block;
  rotate: 0;
  clip-path: none;
  width: 100cqi;
}

.user-wheel[data-items="2"] li {
  height: 100cqi;
  clip-path: none;
}

.user-wheel[data-items="3"] li {
  aspect-ratio: 1 / 2;
  clip-path: polygon(-35% -100%, 100% 50%, 0% 145%);
}

.wheel-blink {
    animation: 
        blink 1s 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}